:root {
  --red: rgba(214, 79, 54, 1);
  --red-transparent: rgba(214, 79, 54, 0.15);
  --yellow: rgba(214, 197, 66, 1);
  --yellow-transparent: rgba(214, 197, 66, 0.15);
  --green: rgba(68, 214, 42, 1);
  --dark-green: rgb(30, 95, 18);
  --green-transparent: rgba(68, 214, 42, 0.15);
  --darkGray: #242424;
  --darkGray-transparent: rgba(0, 0, 0, 0.7);
  --white: #efe;
  --white-75: rgba(239, 239, 239, 0.85);
  --white-50: rgba(239, 239, 239, 0.5);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
      45deg,
      var(--darkGray-transparent),
      var(--darkGray-transparent)
    ),
    url('/covid-19.jpg');
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
