:root {
  --red: rgba(214, 79, 54, 1);
  --red-15: rgba(214, 79, 54, 0.5);
  --yellow: rgba(214, 197, 66, 1);
  --yellow-15: rgba(214, 197, 66, 0.5);
  --green: rgba(68, 214, 42, 1);
  --dark-green: rgb(30, 95, 18);
  --green-15: rgba(68, 214, 42, 0.5);
  --darkGray: #242424;
  --white: #efe;
  --white-75: rgba(239, 239, 239, 0.85);
  --white-50: rgba(239, 239, 239, 0.5);

  --grad: var(--green-15);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(45deg, var(--grad), var(--grad)),
    url('https://res.cloudinary.com/the-classic-lunchbox/image/upload/f_auto,q_auto/v1603669203/other/covid-19_zwbv8z.jpg');
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
